.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

@media screen and (max-width: 754px){
  .main {
    justify-content: flex-start;
  }
}